body {
    margin: 0;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    user-select: none;
    overflow: hidden;
    background-color: #aed2b8;
}





/* MAP */

svg {
    width: 2000;
    height: 2000;
}

svg * {
    font-family: 'Noto Sans';
    pointer-events: all;
}

.line {
    stroke-dashoffset: 4;
}

.hideU1 .line.u1,
.hideU2 .line.u2,
.hideU3 .line.u3,
.hideU4 .line.u4,
.hideU6 .line.u6 {
    opacity: .1;
}

.animate {
    animation: moving_train 90s linear;
}

@keyframes moving_train {
    0% {
        stroke-dashoffset: 4;
    }
    100% {
        stroke-dashoffset: -50;
    }
}









/* TOOLTIP */

#tooltip {
    background-color: white;
    position: fixed;
    top: -500px;
    left: -500px;
    margin: 12px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.description {
    display: none;
}

.description p {
    margin: 0;
}

.description.line  .title {
    display: flex;
    align-items: center;
}

.description.line .terminus {
    font-size: small;
    font-weight: bold;
}

.icon {
    font-weight: bolder;
    color: white;
    margin: 5px 5px 5px 0;
    padding: 3px 10px;
    height: fit-content;
    font-size: large;
}


.icon.u1 {background-color: rgb(226, 2, 17);}
.icon.u2 {background-color: rgb(147, 94, 152);}
.icon.u3 {background-color: rgb(219, 118, 9);}
.icon.u4 {background-color: rgb(49, 159, 73);}
.icon.u6 {background-color: rgb(164, 100, 44);}








/* SERVER */
#server  {
    position: fixed;
    top: 0;
    left: 0;
    padding: 8px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px -22px 70px 4px;
    font-family: monospace;
}

#server span {
    display: none;
}

#server.disconnected { 
    background-color: rgb(255, 51, 0);
    animation: infinite ease blink 1s;
}
#server.disconnected:hover {
    animation: none;
}
#server.disconnected:hover span.disconnected {
    cursor: pointer;
    display: block;
}
@keyframes blink {
    0%, 100% {background-color: rgba(255, 51, 0, 0.252);}
    50%   {background-color: rgb(255, 51, 0);}
}

#server.pending {
    background-color: rgb(255, 180, 6);
}
#server.pending:hover span.pending {
    display: block;
}

#server.connected {
    background-color: rgb(37, 185, 79);
}
#server.connected:hover span.connected {
    display: block;
}

/* LEGEND */

/* #legend {
    position: fixed;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: large;
    text-align: left;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 3px;
    max-width: 12vw;
}

#legend p {
    margin: 0;
}

#legend.default p {
    margin-bottom: 10px;
}

#legend.default .shieldContainer {
    display: flex;
    flex-wrap: wrap;
}

#legend .shield {
    font-weight: bolder;
    color: white;
    margin: 0 10px 10px 0;
    padding: 3px 10px;
    height: fit-content;
}

#legend .shield.u1 {background-color: rgb(226, 2, 17);}
#legend .shield.u2 {background-color: rgb(147, 94, 152);}
#legend .shield.u3 {background-color: rgb(219, 118, 9);}
#legend .shield.u4 {background-color: rgb(49, 159, 73);}
#legend .shield.u6 {background-color: rgb(164, 100, 44);}

#Ld, #Lu1, #Lu2, #Lu3, #Lu4, #Lu6 {
    display: none;
}

.Ld #Ld {display: block;}
.Lu1 #Lu1 {display: block;}
.Lu2 #Lu2 {display: block;}
.Lu3 #Lu3 {display: block;}
.Lu4 #Lu4 {display: block;}
.Lu6 #Lu6 {display: block;}


#legend .lineContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end
}

#legend.default .signature {
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    font-size: xx-small;
    text-align: right;
} */