body {
    margin: 0;
    font-family: Noto Sans, Arial, sans-serif;
    user-select: none;
    overflow: hidden;
}





/* MENU */

.menu {
    position: fixed;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 13px; 
    color:white;
}

.status,
.button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: none;
}

.button.u1 {background-color: rgb(226, 2, 17);}
.button.u2 {background-color: rgb(147, 94, 152);}
.button.u3 {background-color: rgb(219, 118, 9);}
.button.u4 {background-color: rgb(49, 159, 73);}
.button.u6 {background-color: rgb(164, 100, 44);}

#clock {
    background-color: rgb(235, 235, 235);
}

.status {
    background-color: rgb(137, 137, 137)
}

body.reveal .button,
body.connected .status.connected,
body:not(.connected) .status.disconnected{
    display:flex;
}






/* MAP */

.line {
    stroke-dashoffset: 4;
}

.train {
    animation: moving_train 90s linear;
}

@keyframes moving_train {
    0% {
        stroke-dashoffset: 4;
    }
    100% {
        stroke-dashoffset: -50;
    }
}







/* AUTHORS */

.signature {
    position: fixed;
    right: 0;
    bottom: 0;
    font-weight: medium;
}

.signature p{
    margin: 0;
    padding: 10px;
}

body:not(.reveal) .signature{
    display: none;
}

